.container{
    width: 85%;
    margin-right: 7.5%;
}

.btn_pdf{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.5%;
    width: 125px;
    border: none;
    height: 45px;
    font-size: 16px;
    color: white;
    background-color: rgba(87, 121, 91, 0.959);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    margin: 12px auto;
    cursor: pointer;
    transition: .3s;
    padding: 5px;
}

.container .dropdown , .dropdown .dropdown-menu{
    display: flex;
    justify-content: center;
}

.container .dropdown .dropdown-menu{
    top:178px;
}

.container h1{
    text-align: center;
    margin-top: 0px ;
    font-size:32px;
    font-weight: bold;
}

.container .choseDate{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.container .choseDate .dateChose , .container .choseDate .space{
    margin-left: 25px;
}

.container .choseDate .dateChose{
    cursor: pointer;
    transform: 1s;
}

.container .choseDate .dateChose:hover{
    color: rgba(87, 121, 91, 0.959);
}

.container .choseDate .chosen{
    color: rgba(87, 121, 91, 0.959);
    font-weight: 600;
}

