.bodyStatic{
    /* width: 85%;
    text-align: center;
    margin-right: 7.5%; */
}

.bodyStatic .containerMain{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-top: 25px ;
}

.bodyStatic .containerMain .mainStatic{
    flex: 45%;
    width: 100%;
    margin-left: 25px;
}

.bodyStatic .containerMain .mainStatic , .bodyStatic .containerMain .eventStatic ,.bodyStatic .productStatic{
    background-color: rgb(250, 250, 250);
    box-shadow: -1px 4px 8px rgba(0, 0, 0, 0.205);
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.bodyStatic .productStatic{
    margin-top: 25px;
    /* padding-left: 0px; */
    width: 97.5%;
    margin-bottom: 50px;
}


.bodyStatic .containerMain .mainStatic h2 , .bodyStatic .containerMain .eventStatic h2 , .bodyStatic .productStatic h2{
    margin: 0;
    color: rgba(87, 121, 91, 0.959);
    font-size: 24px;
    font-weight: bold;
}

.bodyStatic .containerMain .mainStatic h3 , .bodyStatic .containerMain .eventStatic h3 , .bodyStatic .productStatic h3{
    margin: 8px 0px;
    font-size: 18.72px;
    font-weight: bold;
}

.bodyStatic .containerMain .eventStatic{
    flex: 50%;
}
