@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.container {
  height: 100%;
  width: 100%;
  background-color: #eff5fb;
  font-family: "Poppins";
  padding: 64px;
  height: 100vh;
  overflow: auto;
}

.container > * {
  margin: 8px;
}

.checkbox {
  display: flex;
  gap: 4px;
}
