img {
  height: 100%;
  width: 100%;
}

.dropZone {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: cadetblue;
  width: 50px;
  height: 50px;
  transition: 0.2s ease-in-out;
}

.big {
  scale: 1.5;
}
