@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.sidenav {
  width: 250px;
  background-color: rgba(87, 121, 91, 0.961);
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  min-height: 100vh;
}

.sidenav-item {
  padding-inline: 32px;
  padding-block: 16px;
  align-items: center;
  color: white;
  font-size: 20px;
  display: flex;
  gap: 16px;
  transition: 0.2s ease-in-out;
  user-select: none;
  /* position: sticky; */
}
.selected {
  background-color: rgb(10, 25, 41);
}

.sidenav-item:hover {
  background-color: #455f48;
  cursor: pointer;
}
/* 
.logout {
  margin-top: auto;
  padding-bottom: 24px;
  padding-top: 24px;
} */
