.styledTable {
  border-collapse: collapse;
  margin: 16px 0;
  font-size: 16px;
  font-family: "Poppins";
  /* min-width: 400px; */
  width: 1200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  direction: rtl;
}

.styledTable thead th {
  /* background-color: #255893; */
  background-color: rgb(87, 121, 91, 0.959);
  color: #ffffff;
  text-align: right;
}

.styledTable th,
.styledTable td {
  padding: 10px 1px;
}

.styledTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styledTable tbody tr:last-of-type {
  /* border-bottom: 2px solid #255893; */
  border-bottom: 2px solid rgb(87, 121, 91, 0.959);
}
.styledTable tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.green {
  background-color: #b9dfc7;
}

.big {
  scale: 1.5;
}
