@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    overflow-x: hidden;
}
.my-bg-color{
    background-color: rgb(87 121 91);
}

.hover\:bg-green-me:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(87 121 91 / var(--tw-bg-opacity));
}

.hebrewTexts{
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Noto Sans Hebrew', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.my-font{
    font-weight: bold;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.w-full{
    background-color: rgb(87 121 91);
    color: #fbae8afc; /*f69494e6*/
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.zero{
    font-weight: bold;
    font-size: x-large;
    font-family: 'Noto Sans Hebrew', sans-serif;
    display: flex;
    color: #fbae8afc; /*f69494e6*/
}

.logo{
    display: flex;
}

.footer-logo{
    display: flex;
}

.hamezaveh-footer{
    padding-left: 4.5%;
}
