@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    overflow-x: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.my-bg-color{
    background-color: rgb(87 121 91);
}
.my-pink-color{
    background-color:  #fbae8afc;
}

.hover\:bg-green-me:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(87 121 91 / var(--tw-bg-opacity));
    box-shadow: 0 0 1cm rgba(0, 0, 0, 0.5); /* Add a 1cm shadow with a 50% opacity */
}

.hebrewTexts {
  font-weight: bold;
  font-size: xx-large;
  font-family: 'Noto Sans Hebrew', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .hebrewTexts {
    font-size: 24px; /* Adjust the font size as per your preference */
  }
}


.my-font {
  font-weight: bold;
  font-family: 'Noto Sans Hebrew', sans-serif;
  color: white;
}

@media screen and (max-width: 480px) {
  .my-font {
    font-size: 8px; /* Adjust the font size as per your preference */
  }
}


.w-full{
    background-color: rgb(87 121 91);
    color: #fbae8afc; /*f69494e6*/
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.zero{
    font-weight: bold;
    font-size: x-large;
    font-family: 'Noto Sans Hebrew', sans-serif;
    display: flex;
    color: #fbae8afc; /*f69494e6*/
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.logo{
    display: flex;
}

.footer-logo{
    display: flex;
    margin-right: 7%;
}

@media screen and (max-width: 768px) {
  .footer-logo {
    display: flex;
    width: 100%;
    max-width: 3.3rem; /* Adjust the maximum width as per your preference */
    height: auto;
    margin-right: 7%;
  }

  .hamezaveh-footer {
    padding-left: 4.5%;
    margin-right: 7%;
  }
}

.table-text {
  text-align: center;
  color: white;
}

@media screen and (max-width: 480px) {
  .table-text {
    font-size: 15px; /* Adjust the font size as per your preference */
  }
}


.bannerImages{
    /* border-radius: 1cm; */
    border-color: green;
    border-width: 1px;
    /* display: flexbox; */
    display: flex;
    /* width: 1250px; */
    height: 600px;
    max-width: 88%;
    max-height: 650px;
    min-height: 550px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4); /* Add a 1cm shadow with a 50% opacity */
    /* margin-top: 50px; */
    /* margin-right: 0px; */
    /* justify-content: center; */
    justify-content: center;
    align-items: center;

}
.eventsTable {
  width: 80%;
  height: fit-content;
  border-radius: 0.5cm;
  border-color: green;
  background-color: rgb(87 121 91);
  border-collapse: collapse;
  padding: 8px;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  font-family: 'Noto Sans Hebrew', sans-serif;
  color: white;
  margin: 0 auto; /* Center align horizontally */
}

@media screen and (max-width: 768px) {
  .eventsTable {
    width: 90%;
    margin: 0 auto;
    font-size: large;

  }
}

@media screen and (max-width: 480px) {
  .eventsTable {
    width: 95%;
    font-size: large;
  }
}


/* .tableBords{
    border: 3px ridge black;
    padding: 8px;
    border-radius: 0.5cm;
    text-align: center;
}

.tableBords{
    padding: 8px;
    border-radius: 0.5cm;
    text-align: center;
    box-shadow: 0 0 1cm rgba(0, 0, 0, 0.5);}  /* Add a 1cm shadow with a 50% opacity */


.tableBords{
    padding: 8px;
    border-radius: 0.5cm;
    text-align: center;
}

.firstLine{
    box-shadow: 0 0 1cm rgba(0, 0, 0, 0.5); /* Add a 1cm shadow with a 50% opacity */
}

.event-logo{
    max-width: 30px;
    max-height: 30px;
    text-align: center;
    flex: auto; 
    display: inline-block;
    box-shadow: 0 0 1cm rgba(0, 0, 0, 0.5); /* Add a 1cm shadow with a 50% opacity */
}

.beforeProducts{
    padding: 0.5cm;
}

.productsCards{
    width: 1500px; /* Set the desired width */
    height: 1800px; /* Set the desired height */
    object-fit: cover; /* Adjust the image aspect ratio */
    flex: auto;
    box-shadow: 0 0 1cm rgba(0, 0, 0, 0.5); /* Add a 1cm shadow with a 50% opacity */
}

@media (max-width: 768px) {
  .productsCards {
    width: 100%; /* Set the desired width for phones */
    height: auto; /* Allow the height to adjust automatically */
  }
}

@media (max-width: 768px) {
  .productsCardsPhone {
    width: auto; /* Allow the width to adjust automatically */
    max-height: 200px; /* Set the desired height for phones */
    
  }
}

.h-cartPage{
    height: 11rem;
}

.w-screen-banner{
    width: 98.9
}

.navbar {
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    transition: all 0.3s ease;
    display: flex; /* Add display: flex */
    justify-content: space-between; /* Add justify-content: space-between */
    align-items: center; /* Add align-items: center */
    background-color: rgb(87 121 91); /* Add background-color */
    color: #fbae8afc; /* Add color */
  }

  .navbar ul {
    display: flex; /* Add display: flex */
    list-style: none; /* Add list-style: none */
  }
  
.navbar .zero {
    font-size: 14px; /* Adjust the font size as per your preference */
    width: 24px; /* Adjust the width as per your preference */
    height: 24px; /* Adjust the height as per your preference */
    text-align: center;
    background-color: #fbae8afc; 
    color: white; /* Add color */
    border-radius: 50%; /* Add border-radius to create a circular shape */
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  

@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      height: auto;
      position: static;
    }
    
    .up-dow{
      direction: rtl; /* Add this line to disable RTL */
    }
    .navbar .max-w-screen-l {
      padding: 0.1rem;
    }
  
    .navbar .ml-auto {
      justify-content: center;
    }
  
    .navbar ul {
      flex-direction: column;
      gap: 0.1rem;
      text-align: center;
    }
  
    .navbar li {
      margin: 0.1rem 0.1;
    }
  
    .navbar .logo {
      width: 100%;
    }
  
    .navbar .zero {
      top: auto;
      right: auto;
      bottom: -10px;
      left: -10px;
      max-width: 20px;
      max-height: 20px;
      transform: none;
    }
  
      /* Responsive styles for image and number inside cart */
  .navbar img.logo {
    width: 70px; 
    height: 50px; 
    margin: auto;
    display: block;
  }

  .navbar .zero {
    top: 50%;
    right: 50%;
    bottom: unset;
    left: unset;
    transform: translate(50%, -50%);
    font-size: 16px;
    width: 46px; 
    height: 46px; 
  }

  /* Responsive styles for login emoji */
  .navbar img.h-16.w-16.mx-auto {
    width: 46px; 
    height: 46px; 
    margin: auto;
    display: block;
  }
}
